body {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

p {
    margin: auto;
    width: 500px;
}

img {
    width: 500px;
    border-style: double;
}

